doctype html
html
  head
    meta(charset='UTF-8')
    if styles
      each s in styles
        style !{s}
  body
    .body
      .markdown-body
    .search-box
    if scripts
      each s in scripts
        script !{s}
