.emoji
  display inline-block
  height 1em
  width 1em
  margin 0 .05em 0 .1em
  vertical-align -0.2em
  background-repeat no-repeat
  background-position center center
  background-size 1em 1em

map = {
  'flag_zw': '1f1ff-1f1fc',
  'zw': '1f1ff-1f1fc',
  'flag_zm': '1f1ff-1f1f2',
  'zm': '1f1ff-1f1f2',
  'flag_ye': '1f1fe-1f1ea',
  'ye': '1f1fe-1f1ea',
  'flag_eh': '1f1ea-1f1ed',
  'eh': '1f1ea-1f1ed',
  'flag_wf': '1f1fc-1f1eb',
  'wf': '1f1fc-1f1eb',
  'flag_ve': '1f1fb-1f1ea',
  've': '1f1fb-1f1ea',
  'flag_va': '1f1fb-1f1e6',
  'va': '1f1fb-1f1e6',
  'flag_vu': '1f1fb-1f1fa',
  'vu': '1f1fb-1f1fa',
  'flag_uz': '1f1fa-1f1ff',
  'uz': '1f1fa-1f1ff',
  'flag_uy': '1f1fa-1f1fe',
  'uy': '1f1fa-1f1fe',
  'flag_ua': '1f1fa-1f1e6',
  'ua': '1f1fa-1f1e6',
  'flag_ug': '1f1fa-1f1ec',
  'ug': '1f1fa-1f1ec',
  'flag_vi': '1f1fb-1f1ee',
  'vi': '1f1fb-1f1ee',
  'flag_tv': '1f1f9-1f1fb',
  'tuvalu': '1f1f9-1f1fb',
  'flag_tm': '1f1f9-1f1f2',
  'turkmenistan': '1f1f9-1f1f2',
  'flag_tn': '1f1f9-1f1f3',
  'tn': '1f1f9-1f1f3',
  'flag_tt': '1f1f9-1f1f9',
  'tt': '1f1f9-1f1f9',
  'flag_to': '1f1f9-1f1f4',
  'to': '1f1f9-1f1f4',
  'flag_tg': '1f1f9-1f1ec',
  'tg': '1f1f9-1f1ec',
  'flag_th': '1f1f9-1f1ed',
  'th': '1f1f9-1f1ed',
  'flag_tz': '1f1f9-1f1ff',
  'tz': '1f1f9-1f1ff',
  'flag_tj': '1f1f9-1f1ef',
  'tj': '1f1f9-1f1ef',
  'flag_tw': '1f1f9-1f1fc',
  'tw': '1f1f9-1f1fc',
  'flag_sy': '1f1f8-1f1fe',
  'sy': '1f1f8-1f1fe',
  'flag_sz': '1f1f8-1f1ff',
  'sz': '1f1f8-1f1ff',
  'flag_sr': '1f1f8-1f1f7',
  'sr': '1f1f8-1f1f7',
  'flag_sd': '1f1f8-1f1e9',
  'sd': '1f1f8-1f1e9',
  'flag_lk': '1f1f1-1f1f0',
  'lk': '1f1f1-1f1f0',
  'flag_so': '1f1f8-1f1f4',
  'so': '1f1f8-1f1f4',
  'flag_sb': '1f1f8-1f1e7',
  'sb': '1f1f8-1f1e7',
  'flag_si': '1f1f8-1f1ee',
  'si': '1f1f8-1f1ee',
  'flag_sk': '1f1f8-1f1f0',
  'sk': '1f1f8-1f1f0',
  'flag_sl': '1f1f8-1f1f1',
  'sl': '1f1f8-1f1f1',
  'flag_sc': '1f1f8-1f1e8',
  'sc': '1f1f8-1f1e8',
  'flag_rs': '1f1f7-1f1f8',
  'rs': '1f1f7-1f1f8',
  'flag_sn': '1f1f8-1f1f3',
  'sn': '1f1f8-1f1f3',
  'flag_st': '1f1f8-1f1f9',
  'st': '1f1f8-1f1f9',
  'flag_sm': '1f1f8-1f1f2',
  'sm': '1f1f8-1f1f2',
  'flag_ws': '1f1fc-1f1f8',
  'ws': '1f1fc-1f1f8',
  'flag_vc': '1f1fb-1f1e8',
  'vc': '1f1fb-1f1e8',
  'flag_lc': '1f1f1-1f1e8',
  'lc': '1f1f1-1f1e8',
  'flag_kn': '1f1f0-1f1f3',
  'kn': '1f1f0-1f1f3',
  'flag_sh': '1f1f8-1f1ed',
  'sh': '1f1f8-1f1ed',
  'flag_rw': '1f1f7-1f1fc',
  'rw': '1f1f7-1f1fc',
  'flag_ro': '1f1f7-1f1f4',
  'ro': '1f1f7-1f1f4',
  'flag_qa': '1f1f6-1f1e6',
  'qa': '1f1f6-1f1e6',
  'flag_pe': '1f1f5-1f1ea',
  'pe': '1f1f5-1f1ea',
  'flag_py': '1f1f5-1f1fe',
  'py': '1f1f5-1f1fe',
  'flag_pg': '1f1f5-1f1ec',
  'pg': '1f1f5-1f1ec',
  'flag_pa': '1f1f5-1f1e6',
  'pa': '1f1f5-1f1e6',
  'flag_ps': '1f1f5-1f1f8',
  'ps': '1f1f5-1f1f8',
  'flag_pw': '1f1f5-1f1fc',
  'pw': '1f1f5-1f1fc',
  'flag_pk': '1f1f5-1f1f0',
  'pk': '1f1f5-1f1f0',
  'flag_om': '1f1f4-1f1f2',
  'om': '1f1f4-1f1f2',
  'flag_kp': '1f1f0-1f1f5',
  'kp': '1f1f0-1f1f5',
  'flag_nu': '1f1f3-1f1fa',
  'nu': '1f1f3-1f1fa',
  'flag_ng': '1f1f3-1f1ec',
  'nigeria': '1f1f3-1f1ec',
  'flag_ne': '1f1f3-1f1ea',
  'ne': '1f1f3-1f1ea',
  'flag_ni': '1f1f3-1f1ee',
  'ni': '1f1f3-1f1ee',
  'flag_nc': '1f1f3-1f1e8',
  'nc': '1f1f3-1f1e8',
  'flag_np': '1f1f3-1f1f5',
  'np': '1f1f3-1f1f5',
  'flag_nr': '1f1f3-1f1f7',
  'nr': '1f1f3-1f1f7',
  'flag_na': '1f1f3-1f1e6',
  'na': '1f1f3-1f1e6',
  'flag_mm': '1f1f2-1f1f2',
  'mm': '1f1f2-1f1f2',
  'flag_mz': '1f1f2-1f1ff',
  'mz': '1f1f2-1f1ff',
  'flag_ma': '1f1f2-1f1e6',
  'ma': '1f1f2-1f1e6',
  'flag_ms': '1f1f2-1f1f8',
  'ms': '1f1f2-1f1f8',
  'flag_me': '1f1f2-1f1ea',
  'me': '1f1f2-1f1ea',
  'flag_mn': '1f1f2-1f1f3',
  'mn': '1f1f2-1f1f3',
  'flag_mc': '1f1f2-1f1e8',
  'mc': '1f1f2-1f1e8',
  'flag_md': '1f1f2-1f1e9',
  'md': '1f1f2-1f1e9',
  'flag_fm': '1f1eb-1f1f2',
  'fm': '1f1eb-1f1f2',
  'flag_mu': '1f1f2-1f1fa',
  'mu': '1f1f2-1f1fa',
  'flag_mr': '1f1f2-1f1f7',
  'mr': '1f1f2-1f1f7',
  'flag_mh': '1f1f2-1f1ed',
  'mh': '1f1f2-1f1ed',
  'flag_mt': '1f1f2-1f1f9',
  'mt': '1f1f2-1f1f9',
  'flag_ml': '1f1f2-1f1f1',
  'ml': '1f1f2-1f1f1',
  'flag_mv': '1f1f2-1f1fb',
  'mv': '1f1f2-1f1fb',
  'flag_mw': '1f1f2-1f1fc',
  'mw': '1f1f2-1f1fc',
  'flag_mg': '1f1f2-1f1ec',
  'mg': '1f1f2-1f1ec',
  'flag_mk': '1f1f2-1f1f0',
  'mk': '1f1f2-1f1f0',
  'flag_lu': '1f1f1-1f1fa',
  'lu': '1f1f1-1f1fa',
  'flag_lt': '1f1f1-1f1f9',
  'lt': '1f1f1-1f1f9',
  'flag_li': '1f1f1-1f1ee',
  'li': '1f1f1-1f1ee',
  'flag_ly': '1f1f1-1f1fe',
  'ly': '1f1f1-1f1fe',
  'flag_lr': '1f1f1-1f1f7',
  'lr': '1f1f1-1f1f7',
  'flag_ls': '1f1f1-1f1f8',
  'ls': '1f1f1-1f1f8',
  'flag_lb': '1f1f1-1f1e7',
  'lb': '1f1f1-1f1e7',
  'flag_lv': '1f1f1-1f1fb',
  'lv': '1f1f1-1f1fb',
  'flag_la': '1f1f1-1f1e6',
  'la': '1f1f1-1f1e6',
  'flag_kg': '1f1f0-1f1ec',
  'kg': '1f1f0-1f1ec',
  'flag_kw': '1f1f0-1f1fc',
  'kw': '1f1f0-1f1fc',
  'flag_xk': '1f1fd-1f1f0',
  'xk': '1f1fd-1f1f0',
  'flag_ki': '1f1f0-1f1ee',
  'ki': '1f1f0-1f1ee',
  'flag_ke': '1f1f0-1f1ea',
  'ke': '1f1f0-1f1ea',
  'flag_kz': '1f1f0-1f1ff',
  'kz': '1f1f0-1f1ff',
  'flag_jo': '1f1ef-1f1f4',
  'jo': '1f1ef-1f1f4',
  'flag_je': '1f1ef-1f1ea',
  'je': '1f1ef-1f1ea',
  'flag_jm': '1f1ef-1f1f2',
  'jm': '1f1ef-1f1f2',
  'flag_iq': '1f1ee-1f1f6',
  'iq': '1f1ee-1f1f6',
  'flag_ir': '1f1ee-1f1f7',
  'ir': '1f1ee-1f1f7',
  'flag_is': '1f1ee-1f1f8',
  'is': '1f1ee-1f1f8',
  'flag_hu': '1f1ed-1f1fa',
  'hu': '1f1ed-1f1fa',
  'flag_hn': '1f1ed-1f1f3',
  'hn': '1f1ed-1f1f3',
  'flag_ht': '1f1ed-1f1f9',
  'ht': '1f1ed-1f1f9',
  'flag_gy': '1f1ec-1f1fe',
  'gy': '1f1ec-1f1fe',
  'flag_gw': '1f1ec-1f1fc',
  'gw': '1f1ec-1f1fc',
  'flag_gn': '1f1ec-1f1f3',
  'gn': '1f1ec-1f1f3',
  'flag_gt': '1f1ec-1f1f9',
  'gt': '1f1ec-1f1f9',
  'flag_gu': '1f1ec-1f1fa',
  'gu': '1f1ec-1f1fa',
  'flag_gd': '1f1ec-1f1e9',
  'gd': '1f1ec-1f1e9',
  'flag_gl': '1f1ec-1f1f1',
  'gl': '1f1ec-1f1f1',
  'flag_gr': '1f1ec-1f1f7',
  'gr': '1f1ec-1f1f7',
  'flag_gi': '1f1ec-1f1ee',
  'gi': '1f1ec-1f1ee',
  'flag_gh': '1f1ec-1f1ed',
  'gh': '1f1ec-1f1ed',
  'flag_ge': '1f1ec-1f1ea',
  'ge': '1f1ec-1f1ea',
  'flag_gm': '1f1ec-1f1f2',
  'gm': '1f1ec-1f1f2',
  'flag_ga': '1f1ec-1f1e6',
  'ga': '1f1ec-1f1e6',
  'flag_pf': '1f1f5-1f1eb',
  'pf': '1f1f5-1f1eb',
  'flag_fj': '1f1eb-1f1ef',
  'fj': '1f1eb-1f1ef',
  'flag_fo': '1f1eb-1f1f4',
  'fo': '1f1eb-1f1f4',
  'flag_fk': '1f1eb-1f1f0',
  'fk': '1f1eb-1f1f0',
  'flag_et': '1f1ea-1f1f9',
  'et': '1f1ea-1f1f9',
  'flag_ee': '1f1ea-1f1ea',
  'ee': '1f1ea-1f1ea',
  'flag_er': '1f1ea-1f1f7',
  'er': '1f1ea-1f1f7',
  'flag_gq': '1f1ec-1f1f6',
  'gq': '1f1ec-1f1f6',
  'flag_sv': '1f1f8-1f1fb',
  'sv': '1f1f8-1f1fb',
  'flag_eg': '1f1ea-1f1ec',
  'eg': '1f1ea-1f1ec',
  'flag_ec': '1f1ea-1f1e8',
  'ec': '1f1ea-1f1e8',
  'flag_tl': '1f1f9-1f1f1',
  'tl': '1f1f9-1f1f1',
  'flag_do': '1f1e9-1f1f4',
  'do': '1f1e9-1f1f4',
  'flag_dm': '1f1e9-1f1f2',
  'dm': '1f1e9-1f1f2',
  'flag_dj': '1f1e9-1f1ef',
  'dj': '1f1e9-1f1ef',
  'flag_cz': '1f1e8-1f1ff',
  'cz': '1f1e8-1f1ff',
  'flag_cy': '1f1e8-1f1fe',
  'cy': '1f1e8-1f1fe',
  'flag_cu': '1f1e8-1f1fa',
  'cu': '1f1e8-1f1fa',
  'flag_hr': '1f1ed-1f1f7',
  'hr': '1f1ed-1f1f7',
  'flag_ci': '1f1e8-1f1ee',
  'ci': '1f1e8-1f1ee',
  'flag_cr': '1f1e8-1f1f7',
  'cr': '1f1e8-1f1f7',
  'flag_td': '1f1f9-1f1e9',
  'td': '1f1f9-1f1e9',
  'flag_cg': '1f1e8-1f1ec',
  'cg': '1f1e8-1f1ec',
  'flag_cd': '1f1e8-1f1e9',
  'congo': '1f1e8-1f1e9',
  'flag_km': '1f1f0-1f1f2',
  'km': '1f1f0-1f1f2',
  'flag_cf': '1f1e8-1f1eb',
  'cf': '1f1e8-1f1eb',
  'flag_ky': '1f1f0-1f1fe',
  'ky': '1f1f0-1f1fe',
  'flag_cv': '1f1e8-1f1fb',
  'cv': '1f1e8-1f1fb',
  'flag_cm': '1f1e8-1f1f2',
  'cm': '1f1e8-1f1f2',
  'flag_kh': '1f1f0-1f1ed',
  'kh': '1f1f0-1f1ed',
  'flag_bi': '1f1e7-1f1ee',
  'bi': '1f1e7-1f1ee',
  'flag_bf': '1f1e7-1f1eb',
  'bf': '1f1e7-1f1eb',
  'flag_bg': '1f1e7-1f1ec',
  'bg': '1f1e7-1f1ec',
  'flag_bn': '1f1e7-1f1f3',
  'bn': '1f1e7-1f1f3',
  'flag_bw': '1f1e7-1f1fc',
  'bw': '1f1e7-1f1fc',
  'flag_ba': '1f1e7-1f1e6',
  'ba': '1f1e7-1f1e6',
  'flag_bo': '1f1e7-1f1f4',
  'bo': '1f1e7-1f1f4',
  'flag_bt': '1f1e7-1f1f9',
  'bt': '1f1e7-1f1f9',
  'flag_bm': '1f1e7-1f1f2',
  'bm': '1f1e7-1f1f2',
  'flag_bj': '1f1e7-1f1ef',
  'bj': '1f1e7-1f1ef',
  'flag_bz': '1f1e7-1f1ff',
  'bz': '1f1e7-1f1ff',
  'flag_by': '1f1e7-1f1fe',
  'by': '1f1e7-1f1fe',
  'flag_bb': '1f1e7-1f1e7',
  'bb': '1f1e7-1f1e7',
  'flag_bd': '1f1e7-1f1e9',
  'bd': '1f1e7-1f1e9',
  'flag_bh': '1f1e7-1f1ed',
  'bh': '1f1e7-1f1ed',
  'flag_bs': '1f1e7-1f1f8',
  'bs': '1f1e7-1f1f8',
  'flag_az': '1f1e6-1f1ff',
  'az': '1f1e6-1f1ff',
  'flag_ac': '1f1e6-1f1e8',
  'ac': '1f1e6-1f1e8',
  'flag_aw': '1f1e6-1f1fc',
  'aw': '1f1e6-1f1fc',
  'flag_am': '1f1e6-1f1f2',
  'am': '1f1e6-1f1f2',
  'flag_ar': '1f1e6-1f1f7',
  'ar': '1f1e6-1f1f7',
  'flag_ag': '1f1e6-1f1ec',
  'ag': '1f1e6-1f1ec',
  'flag_ai': '1f1e6-1f1ee',
  'ai': '1f1e6-1f1ee',
  'flag_ao': '1f1e6-1f1f4',
  'ao': '1f1e6-1f1f4',
  'flag_ad': '1f1e6-1f1e9',
  'ad': '1f1e6-1f1e9',
  'flag_dz': '1f1e9-1f1ff',
  'dz': '1f1e9-1f1ff',
  'flag_al': '1f1e6-1f1f1',
  'al': '1f1e6-1f1f1',
  'flag_af': '1f1e6-1f1eb',
  'af': '1f1e6-1f1eb',
  'flag_vn': '1f1fb-1f1f3',
  'vn': '1f1fb-1f1f3',
  'flag_ae': '1f1e6-1f1ea',
  'ae': '1f1e6-1f1ea',
  'flag_us': '1f1fa-1f1f8',
  'us': '1f1fa-1f1f8',
  'flag_gb': '1f1ec-1f1e7',
  'gb': '1f1ec-1f1e7',
  'flag_tr': '1f1f9-1f1f7',
  'tr': '1f1f9-1f1f7',
  'flag_ch': '1f1e8-1f1ed',
  'ch': '1f1e8-1f1ed',
  'flag_se': '1f1f8-1f1ea',
  'se': '1f1f8-1f1ea',
  'flag_es': '1f1ea-1f1f8',
  'es': '1f1ea-1f1f8',
  'flag_za': '1f1ff-1f1e6',
  'za': '1f1ff-1f1e6',
  'flag_sg': '1f1f8-1f1ec',
  'sg': '1f1f8-1f1ec',
  'flag_sa': '1f1f8-1f1e6',
  'saudiarabia': '1f1f8-1f1e6',
  'saudi': '1f1f8-1f1e6',
  'flag_ru': '1f1f7-1f1fa',
  'ru': '1f1f7-1f1fa',
  'flag_pr': '1f1f5-1f1f7',
  'pr': '1f1f5-1f1f7',
  'flag_pt': '1f1f5-1f1f9',
  'pt': '1f1f5-1f1f9',
  'flag_pl': '1f1f5-1f1f1',
  'pl': '1f1f5-1f1f1',
  'flag_ph': '1f1f5-1f1ed',
  'ph': '1f1f5-1f1ed',
  'flag_no': '1f1f3-1f1f4',
  'no': '1f1f3-1f1f4',
  'flag_nz': '1f1f3-1f1ff',
  'nz': '1f1f3-1f1ff',
  'flag_nl': '1f1f3-1f1f1',
  'nl': '1f1f3-1f1f1',
  'flag_mx': '1f1f2-1f1fd',
  'mx': '1f1f2-1f1fd',
  'flag_my': '1f1f2-1f1fe',
  'my': '1f1f2-1f1fe',
  'flag_mo': '1f1f2-1f1f4',
  'mo': '1f1f2-1f1f4',
  'flag_kr': '1f1f0-1f1f7',
  'kr': '1f1f0-1f1f7',
  'flag_jp': '1f1ef-1f1f5',
  'jp': '1f1ef-1f1f5',
  'flag_it': '1f1ee-1f1f9',
  'it': '1f1ee-1f1f9',
  'flag_il': '1f1ee-1f1f1',
  'il': '1f1ee-1f1f1',
  'flag_ie': '1f1ee-1f1ea',
  'ie': '1f1ee-1f1ea',
  'flag_id': '1f1ee-1f1e9',
  'indonesia': '1f1ee-1f1e9',
  'flag_in': '1f1ee-1f1f3',
  'in': '1f1ee-1f1f3',
  'flag_hk': '1f1ed-1f1f0',
  'hk': '1f1ed-1f1f0',
  'flag_de': '1f1e9-1f1ea',
  'de': '1f1e9-1f1ea',
  'flag_fr': '1f1eb-1f1f7',
  'fr': '1f1eb-1f1f7',
  'flag_fi': '1f1eb-1f1ee',
  'fi': '1f1eb-1f1ee',
  'flag_dk': '1f1e9-1f1f0',
  'dk': '1f1e9-1f1f0',
  'flag_co': '1f1e8-1f1f4',
  'co': '1f1e8-1f1f4',
  'flag_cn': '1f1e8-1f1f3',
  'cn': '1f1e8-1f1f3',
  'flag_cl': '1f1e8-1f1f1',
  'chile': '1f1e8-1f1f1',
  'flag_ca': '1f1e8-1f1e6',
  'ca': '1f1e8-1f1e6',
  'flag_br': '1f1e7-1f1f7',
  'br': '1f1e7-1f1f7',
  'flag_be': '1f1e7-1f1ea',
  'be': '1f1e7-1f1ea',
  'flag_at': '1f1e6-1f1f9',
  'at': '1f1e6-1f1f9',
  'flag_au': '1f1e6-1f1fa',
  'au': '1f1e6-1f1fa',
  'map': '1f5fa',
  'world_map': '1f5fa',
  'school': '1f3eb',
  'convenience_store': '1f3ea',
  'church': '26ea',
  'wedding': '1f492',
  'love_hotel': '1f3e9',
  'hotel': '1f3e8',
  'bank': '1f3e6',
  'hospital': '1f3e5',
  'european_post_office': '1f3e4',
  'post_office': '1f3e3',
  'factory': '1f3ed',
  'department_store': '1f3ec',
  'office': '1f3e2',
  'contruction_site': '1f3d7',
  'building_construction': '1f3d7',
  'house-abandoned': '1f3da',
  'derelict_house_building': '1f3da',
  'house_with_garden': '1f3e1',
  'homes': '1f3d8',
  'house_buildings': '1f3d8',
  'house': '1f3e0',
  'bridge_at_night': '1f309',
  'night_with_stars': '1f303',
  'city_dusk': '1f306',
  'city_sunset': '1f307',
  'city_sunrise': '1f307',
  'cityscape': '1f3d9',
  'cityscape': '1f3d9',
  'park': '1f3de',
  'national_park': '1f3de',
  'island': '1f3dd',
  'desert_island': '1f3dd',
  'desert': '1f3dc',
  'beach': '1f3d6',
  'beach_with_umbrella': '1f3d6',
  'camping': '1f3d5',
  'mountain_snow': '1f3d4',
  'snow_capped_mountain': '1f3d4',
  'stadium': '1f3df',
  'classical_building': '1f3db',
  'japanese_castle': '1f3ef',
  'european_castle': '1f3f0',
  'fountain': '26f2',
  'tokyo_tower': '1f5fc',
  'foggy': '1f301',
  'moyai': '1f5ff',
  'statue_of_liberty': '1f5fd',
  'shopping_bags': '1f6cd',
  'shopping_bags': '1f6cd',
  'fork_knife_plate': '1f37d',
  'fork_and_knife_with_plate': '1f37d',
  'couch': '1f6cb',
  'couch_and_lamp': '1f6cb',
  'bed': '1f6cf',
  'bellhop': '1f6ce',
  'bellhop_bell': '1f6ce',
  'dollar': '1f4b5',
  'pound': '1f4b7',
  'euro': '1f4b6',
  'yen': '1f4b4',
  'left_luggage': '1f6c5',
  'baggage_claim': '1f6c4',
  'customs': '1f6c3',
  'passport_control': '1f6c2',
  'suspension_railway': '1f69f',
  'mountain_cableway': '1f6a0',
  'aerial_tramway': '1f6a1',
  'sailboat': '26f5',
  'speedboat': '1f6a4',
  'motorboat': '1f6e5',
  'cruise_ship': '1f6f3',
  'passenger_ship': '1f6f3',
  'ship': '1f6a2',
  'anchor': '2693',
  'seat': '1f4ba',
  'airplane_arriving': '1f6ec',
  'airplane_departure': '1f6eb',
  'airplane_small': '1f6e9',
  'small_airplane': '1f6e9',
  'airplane_northeast': '1f6ea',
  'northeast_pointing_airplane': '1f6ea',
  'jet_up': '1f6e6',
  'up_pointing_military_airplane': '1f6e6',
  'airplane_small_up': '1f6e8',
  'up_pointing_small_airplane': '1f6e8',
  'airplane_up': '1f6e7',
  'up_pointing_airplane': '1f6e7',
  'airplane': '2708',
  'helicopter': '1f681',
  'rocket': '1f680',
  'traffic_light': '1f6a5',
  'vertical_traffic_light': '1f6a6',
  'construction': '1f6a7',
  'fuelpump': '26fd',
  'busstop': '1f68f',
  'motorway': '1f6e3',
  'bike': '1f6b2',
  'tractor': '1f69c',
  'articulated_lorry': '1f69b',
  'truck': '1f69a',
  'blue_car': '1f699',
  'oncoming_automobile': '1f698',
  'red_car': '1f697',
  'oncoming_taxi': '1f696',
  'taxi': '1f695',
  'rotating_light': '1f6a8',
  'oncoming_police_car': '1f694',
  'police_car': '1f693',
  'fire_engine_oncoming': '1f6f1',
  'oncoming_fire_engine': '1f6f1',
  'fire_engine': '1f692',
  'ambulance': '1f691',
  'minibus': '1f690',
  'trolleybus': '1f68e',
  'oncoming_bus': '1f68d',
  'bus': '1f68c',
  'railway_track': '1f6e4',
  'railroad_track': '1f6e4',
  'tram': '1f68a',
  'station': '1f689',
  'light_rail': '1f688',
  'metro': '1f687',
  'train2': '1f686',
  'bullettrain_front': '1f685',
  'bullettrain_side': '1f684',
  'monorail': '1f69d',
  'train': '1f68b',
  'train_diesel': '1f6f2',
  'diesel_locomotive': '1f6f2',
  'steam_locomotive': '1f682',
  'mountain_railway': '1f69e',
  'railway_car': '1f683',
  'clock1230': '1f567',
  'clock1130': '1f566',
  'clock1030': '1f565',
  'clock930': '1f564',
  'clock830': '1f563',
  'clock730': '1f562',
  'clock630': '1f561',
  'clock530': '1f560',
  'clock430': '1f55f',
  'clock330': '1f55e',
  'clock230': '1f55d',
  'clock130': '1f55c',
  'clock12': '1f55b',
  'clock11': '1f55a',
  'clock10': '1f559',
  'clock9': '1f558',
  'clock8': '1f557',
  'clock7': '1f556',
  'clock6': '1f555',
  'clock5': '1f554',
  'clock4': '1f553',
  'clock3': '1f552',
  'clock2': '1f551',
  'clock1': '1f550',
  'white_square_button': '1f533',
  'black_square_button': '1f532',
  'white_medium_small_square': '25fd',
  'black_medium_small_square': '25fe',
  'white_medium_square': '25fb',
  'black_medium_square': '25fc',
  'white_large_square': '2b1c',
  'black_large_square': '2b1b',
  'white_small_square': '25ab',
  'black_small_square': '25aa',
  'large_blue_diamond': '1f537',
  'large_orange_diamond': '1f536',
  'small_blue_diamond': '1f539',
  'small_orange_diamond': '1f538',
  'small_red_triangle_down': '1f53b',
  'small_red_triangle': '1f53a',
  'large_blue_circle': '1f535',
  'red_circle': '1f534',
  'radio_button': '1f518',
  'black_circle': '26ab',
  'white_circle': '26aa',
  'ballot_box_x': '1f5f5',
  'ballot_box_with_script_x': '1f5f5',
  'ballot_x': '1f5f4',
  'ballot_script_x': '1f5f4',
  'ballot_box_check': '1f5f9',
  'ballot_box_with_bold_check': '1f5f9',
  'light_check_mark': '1f5f8',
  'light_mark': '1f5f8',
  'ballot_box_with_check': '2611',
  'diamonds': '2666',
  'hearts': '2665',
  'clubs': '2663',
  'spades': '2660',
  'diamond_shape_with_a_dot_inside': '1f4a0',
  'anger': '1f4a2',
  'recycle': '267b',
  'rosette_black': '1f3f6',
  'rosette': '1f3f5',
  'hotsprings': '2668',
  'warning': '26a0',
  'trident': '1f531',
  'mood_lightning': '1f5f2',
  'lightning_mood': '1f5f2',
  'beginner': '1f530',
  'six_pointed_star': '1f52f',
  'ophiuchus': '26ce',
  'info': '1f6c8',
  'circled_information_source': '1f6c8',
  'm': '24c2',
  'cyclone': '1f300',
  'soon': '1f51c',
  'top': '1f51d',
  'on': '1f51b',
  'back': '1f519',
  'end': '1f51a',
  '100': '1f4af',
  'o': '2b55',
  'x': '274c',
  'triangle_round': '1f6c6',
  'triangle_with_rounded_corners': '1f6c6',
  'interrobang': '2049',
  'bangbang': '203c',
  'grey_question': '2754',
  'grey_exclamation': '2755',
  'question': '2753',
  'exclamation': '2757',
  'part_alternation_mark': '303d',
  'loop': '27bf',
  'curly_loop': '27b0',
  'heavy_dollar_sign': '1f4b2',
  'currency_exchange': '1f4b1',
  'registered': '00ae',
  'copyright': '00a9',
  'tm': '2122',
  'clockwise_arrows': '1f5d8',
  'clockwise_right_and_left_semicircle_arrows': '1f5d8',
  'arrows_clockwise': '1f503',
  'cancellation_x': '1f5d9',
  'heavy_check_mark': '2714',
  'heavy_multiplication_x': '2716',
  'heavy_division_sign': '2797',
  'wavy_dash': '3030',
  'heavy_minus_sign': '2796',
  'heavy_plus_sign': '2795',
  'symbols': '1f523',
  'cinema': '1f3a6',
  'signal_strength': '1f4f6',
  'information_source': '2139',
  'capital_abcd': '1f520',
  'abcd': '1f521',
  'abc': '1f524',
  '1234': '1f522',
  'keycap_ten': '1f51f',
  'nine': '0039-20e3',
  'eight': '0038-20e3',
  'seven': '0037-20e3',
  'six': '0036-20e3',
  'five': '0035-20e3',
  'four': '0034-20e3',
  'three': '0033-20e3',
  'two': '0032-20e3',
  'one': '0031-20e3',
  'zero': '0030-20e3',
  'hash': '0023-20e3',
  'repeat_one': '1f502',
  'repeat': '1f501',
  'twisted_rightwards_arrows': '1f500',
  'arrow_heading_down': '2935',
  'arrow_heading_up': '2934',
  'leftwards_arrow_with_hook': '21a9',
  'arrow_right_hook': '21aa',
  'arrows_counterclockwise': '1f504',
  'left_right_arrow': '2194',
  'arrow_up_down': '2195',
  'arrow_upper_left': '2196',
  'arrow_lower_left': '2199',
  'arrow_lower_right': '2198',
  'arrow_upper_right': '2197',
  'arrow_down': '2b07',
  'arrow_up': '2b06',
  'arrow_left': '2b05',
  'arrow_right': '27a1',
  'arrow_double_down': '23ec',
  'arrow_double_up': '23eb',
  'rewind': '23ea',
  'fast_forward': '23e9',
  'arrow_down_small': '1f53d',
  'arrow_up_small': '1f53c',
  'arrow_backward': '25c0',
  'arrow_forward': '25b6',
  'put_litter_in_its_place': '1f6ae',
  'no_smoking': '1f6ad',
  'potable_water': '1f6b0',
  'wheelchair': '267f',
  'baby_symbol': '1f6bc',
  'girls_symbol': '1f6ca',
  'boys_symbol': '1f6c9',
  'womens': '1f6ba',
  'mens': '1f6b9',
  'restroom': '1f6bb',
  'pisces': '2653',
  'aquarius': '2652',
  'capricorn': '2651',
  'sagittarius': '2650',
  'scorpius': '264f',
  'libra': '264e',
  'virgo': '264d',
  'leo': '264c',
  'cancer': '264b',
  'gemini': '264a',
  'taurus': '2649',
  'aries': '2648',
  'atm': '1f3e7',
  'up': '1f199',
  'ok': '1f197',
  'ng': '1f196',
  'new': '1f195',
  'free': '1f193',
  'cool': '1f192',
  'wc': '1f6be',
  'parking': '1f17f',
  'id': '1f194',
  'sos': '1f198',
  'o2': '1f17e',
  'cl': '1f191',
  'ab': '1f18e',
  'b': '1f171',
  'a': '1f170',
  'vs': '1f19a',
  'mobile_phone_off': '1f4f4',
  'vibration_mode': '1f4f3',
  'eight_pointed_black_star': '2734',
  'white_check_mark': '2705',
  'negative_squared_cross_mark': '274e',
  'eight_spoked_asterisk': '2733',
  'sparkle': '2747',
  'chart': '1f4b9',
  'u6307': '1f22f',
  'koko': '1f201',
  'sa': '1f202',
  'u7a7a': '1f233',
  'u5272': '1f239',
  'u6708': '1f237',
  'u55b6': '1f23a',
  'u7533': '1f238',
  'u7121': '1f21a',
  'u6709': '1f236',
  'u7981': '1f232',
  'u6e80': '1f235',
  'u5408': '1f234',
  'congratulations': '3297',
  'secret': '3299',
  'white_flower': '1f4ae',
  'ideograph_advantage': '1f250',
  'accept': '1f251',
  'piracy': '1f572',
  'no_piracy': '1f572',
  'underage': '1f51e',
  'no_mobile_phones': '1f4f5',
  'non-potable_water': '1f6b1',
  'no_bicycles': '1f6b3',
  'do_not_litter': '1f6af',
  'no_pedestrians': '1f6b7',
  'name_badge': '1f4db',
  'no_entry': '26d4',
  'no_entry_sign': '1f6ab',
  'prohibited': '1f6c7',
  'prohibited_sign': '1f6c7',
  'sleeping_accommodation': '1f6cc',
  'speaking_head': '1f5e3',
  'speaking_head_in_silhouette': '1f5e3',
  'mag_right': '1f50e',
  'mag': '1f50d',
  'shield': '1f6e1',
  'children_crossing': '1f6b8',
  'mood_bubble_lightning': '1f5f1',
  'lightning_mood_bubble': '1f5f1',
  'mood_bubble': '1f5f0',
  'anger_right': '1f5ef',
  'right_anger_bubble': '1f5ef',
  'anger_left': '1f5ee',
  'left_anger_bubble': '1f5ee',
  'thought_right': '1f5ed',
  'right_thought_bubble': '1f5ed',
  'thought_left': '1f5ec',
  'left_thought_bubble': '1f5ec',
  'speech_three': '1f5eb',
  'three_speech_bubbles': '1f5eb',
  'speech_two': '1f5ea',
  'two_speech_bubbles': '1f5ea',
  'speech_right': '1f5e9',
  'right_speech_bubble': '1f5e9',
  'speech_left': '1f5e8',
  'left_speech_bubble': '1f5e8',
  'speech_balloon': '1f4ac',
  'thought_balloon': '1f4ad',
  'dove': '1f54a',
  'dove_of_peace': '1f54a',
  'om_symbol': '1f549',
  'celtic_cross': '1f548',
  'cross_heavy': '1f547',
  'heavy_latin_cross': '1f547',
  'cross_white': '1f546',
  'white_latin_cross': '1f546',
  'descending_notes': '1f39d',
  'ascending_notes': '1f39c',
  'ringing_bell': '1f56d',
  'no_bell': '1f515',
  'bell': '1f514',
  'zzz': '1f4a4',
  'bullhorn_waves': '1f56c',
  'bullhorn_with_sound_waves': '1f56c',
  'bullhorn': '1f56b',
  'right_speaker_three': '1f56a',
  'right_speaker_with_three_sound_waves': '1f56a',
  'right_speaker_one': '1f569',
  'right_speaker_with_one_sound_wave': '1f569',
  'right_speaker': '1f568',
  'mute': '1f507',
  'loud_sound': '1f50a',
  'sound': '1f509',
  'speaker': '1f508',
  'loudspeaker': '1f4e2',
  'mega': '1f4e3',
  'unlock': '1f513',
  'lock': '1f512',
  'closed_lock_with_key': '1f510',
  'lock_with_ink_pen': '1f50f',
  'pencil': '1f4dd',
  'crayon': '1f58d',
  'lower_left_crayon': '1f58d',
  'paintbrush': '1f58c',
  'lower_left_paintbrush': '1f58c',
  'pen_fountain': '1f58b',
  'lower_left_fountain_pen': '1f58b',
  'pen_ballpoint': '1f58a',
  'lower_left_ballpoint_pen': '1f58a',
  'pencil3': '1f589',
  'lower_left_pencil': '1f589',
  'pencil2': '270f',
  'black_nib': '2712',
  'file_cabinet': '1f5c4',
  'open_file_folder': '1f4c2',
  'file_folder': '1f4c1',
  'folder_open': '1f5c1',
  'open_folder': '1f5c1',
  'folder': '1f5c0',
  'hole': '1f573',
  'flag_black': '1f3f4',
  'waving_black_flag': '1f3f4',
  'flag_white': '1f3f3',
  'waving_white_flag': '1f3f3',
  'pennant_black': '1f3f2',
  'black_pennant': '1f3f2',
  'pennant_white': '1f3f1',
  'white_pennant': '1f3f1',
  'triangular_flag_on_post': '1f6a9',
  'straight_ruler': '1f4cf',
  'round_pushpin': '1f4cd',
  'triangular_ruler': '1f4d0',
  'scissors': '2702',
  'pushpin_black': '1f588',
  'pushpin': '1f4cc',
  'paperclips': '1f587',
  'linked_paperclips': '1f587',
  'paperclip': '1f4ce',
  'link': '1f517',
  'card_box': '1f5c3',
  'card_file_box': '1f5c3',
  'dividers': '1f5c2',
  'card_index_dividers': '1f5c2',
  'card_index': '1f4c7',
  'books': '1f4da',
  'orange_book': '1f4d9',
  'blue_book': '1f4d8',
  'green_book': '1f4d7',
  'closed_book': '1f4d5',
  'ledger': '1f4d2',
  'notebook_with_decorative_cover': '1f4d4',
  'notebook': '1f4d3',
  'book': '1f4d6',
  'book2': '1f56e',
  'clipboard': '1f4cb',
  'scroll': '1f4dc',
  'frame_tiles': '1f5bd',
  'frame_with_tiles': '1f5bd',
  'frame_photo': '1f5bc',
  'frame_with_picture': '1f5bc',
  'frame_x': '1f5be',
  'frame_with_an_x': '1f5be',
  'compression': '1f5dc',
  'high_brightness': '1f506',
  'low_brightness': '1f505',
  'ballot_box': '1f5f3',
  'ballot_box_with_ballot': '1f5f3',
  'calendar_spiral': '1f5d3',
  'spiral_calendar_pad': '1f5d3',
  'calendar': '1f4c6',
  'date': '1f4c5',
  'stock_chart': '1f5e0',
  'bar_chart': '1f4ca',
  'chart_with_downwards_trend': '1f4c9',
  'chart_with_upwards_trend': '1f4c8',
  'notepad-spiral': '1f5d2',
  'spiral_note_pad': '1f5d2',
  'notepad': '1f5ca',
  'note_pad': '1f5ca',
  'note': '1f5c9',
  'note_page': '1f5c9',
  'notepad_empty': '1f5c7',
  'empty_note_pad': '1f5c7',
  'note_empty': '1f5c6',
  'empty_note_page': '1f5c6',
  'wastebasket': '1f5d1',
  'bookmark_tabs': '1f4d1',
  'pages': '1f5d0',
  'page_with_curl': '1f4c3',
  'page_facing_up': '1f4c4',
  'page': '1f5cf',
  'document_text': '1f5b9',
  'document_with_text': '1f5b9',
  'document': '1f5ce',
  'mailbox_with_mail': '1f4ec',
  'mailbox_with_no_mail': '1f4ed',
  'mailbox': '1f4eb',
  'mailbox_closed': '1f4ea',
  'postbox': '1f4ee',
  'postal_horn': '1f4ef',
  'package': '1f4e6',
  'outbox_tray': '1f4e4',
  'inbox_tray': '1f4e5',
  'e-mail': '1f4e7',
  'email': '1f4e7',
  'incoming_envelope': '1f4e8',
  'envelope_with_arrow': '1f4e9',
  'envelope_stamped_pen': '1f586',
  'pen_over_stamped_envelope': '1f586',
  'envelope_flying': '1f585',
  'flying_envelope': '1f585',
  'envelope_stamped': '1f583',
  'stamped_envelope': '1f583',
  'envelope_back': '1f582',
  'back_of_envelope': '1f582',
  'envelope': '2709',
  'key2': '1f5dd',
  'old_key': '1f5dd',
  'key': '1f511',
  'label': '1f3f7',
  'thermometer': '1f321',
  'newspaper2': '1f5de',
  'rolled_up_newspaper': '1f5de',
  'newspaper': '1f4f0',
  'bookmark': '1f516',
  'gun': '1f52b',
  'crossbones': '1f571',
  'black_skull_and_crossbones': '1f571',
  'smoking': '1f6ac',
  'bomb': '1f4a3',
  'oil': '1f6e2',
  'oil_drum': '1f6e2',
  'tools': '1f6e0',
  'hammer_and_wrench': '1f6e0',
  'hammer': '1f528',
  'nut_and_bolt': '1f529',
  'dagger': '1f5e1',
  'dagger_knife': '1f5e1',
  'knife': '1f52a',
  'wrench': '1f527',
  'crystal_ball': '1f52e',
  'telescope': '1f52d',
  'microscope': '1f52c',
  'pill': '1f48a',
  'syringe': '1f489',
  'barber': '1f488',
  'toilet': '1f6bd',
  'bathtub': '1f6c1',
  'shower': '1f6bf',
  'door': '1f6aa',
  'jeans': '1f456',
  'necktie': '1f454',
  'shirt': '1f455',
  'womans_clothes': '1f45a',
  'kimono': '1f458',
  'dress': '1f457',
  'bikini': '1f459',
  'athletic_shoe': '1f45f',
  'mans_shoe': '1f45e',
  'boot': '1f462',
  'high_heel': '1f460',
  'sandal': '1f461',
  'womans_hat': '1f452',
  'dark_sunglasses': '1f576',
  'eyeglasses': '1f453',
  'lipstick': '1f484',
  'school_satchel': '1f392',
  'briefcase': '1f4bc',
  'handbag': '1f45c',
  'purse': '1f45b',
  'pouch': '1f45d',
  'closed_umbrella': '1f302',
  'gem': '1f48e',
  'moneybag': '1f4b0',
  'money_with_wings': '1f4b8',
  'credit_card': '1f4b3',
  'satellite_orbital': '1f6f0',
  'satellite': '1f4e1',
  'candle': '1f56f',
  'flashlight': '1f526',
  'bulb': '1f4a1',
  'electric_plug': '1f50c',
  'battery': '1f50b',
  'vhs': '1f4fc',
  'optical_disk': '1f5b8',
  'optical_disc_icon': '1f5b8',
  'dvd': '1f4c0',
  'cd': '1f4bf',
  'hard_disk': '1f5b4',
  'cartridge': '1f5ad',
  'tape_cartridge': '1f5ad',
  'floppy_white': '1f5ab',
  'white_hard_shell_floppy_disk': '1f5ab',
  'floppy_black': '1f5aa',
  'black_hard_shell_floppy_disk': '1f5aa',
  'floppy_disk': '1f4be',
  'minidisc': '1f4bd',
  'fax': '1f4e0',
  'flip_phone': '1f581',
  'clamshell_mobile_phone': '1f581',
  'telephone_black': '1f57f',
  'black_touchtone_telephone': '1f57f',
  'telephone_white': '1f57e',
  'white_touchtone_telephone': '1f57e',
  'telephone': '260e',
  'left_receiver': '1f57b',
  'left_hand_telephone_receiver': '1f57b',
  'telephone_receiver': '1f4de',
  'joystick': '1f579',
  'pager': '1f4df',
  'stereo': '1f4fe',
  'portable_stereo': '1f4fe',
  'radio': '1f4fb',
  'control_knobs': '1f39b',
  'level_slider': '1f39a',
  'microphone2': '1f399',
  'studio_microphone': '1f399',
  'keyboard_with_jacks': '1f398',
  'musical_keyboard_with_jacks': '1f398',
  'tv': '1f4fa',
  'projector': '1f4fd',
  'film_projector': '1f4fd',
  'movie_camera': '1f3a5',
  'video_camera': '1f4f9',
  'camera_with_flash': '1f4f8',
  'camera': '1f4f7',
  'hourglass': '231b',
  'hourglass_flowing_sand': '23f3',
  'clock': '1f570',
  'mantlepiece_clock': '1f570',
  'alarm_clock': '23f0',
  'calculator': '1f5a9',
  'pocket_calculator': '1f5a9',
  'desktop_window': '1f5d4',
  'printer': '1f5a8',
  'network': '1f5a7',
  'three_networked_computers': '1f5a7',
  'keyboard_mouse': '1f5a6',
  'keyboard_and_mouse': '1f5a6',
  'trackball': '1f5b2',
  'mouse-one': '1f5af',
  'one_button_mouse': '1f5af',
  'keyboard': '1f5ae',
  'wired_keyboard': '1f5ae',
  'computer_old': '1f5b3',
  'old_personal_computer': '1f5b3',
  'desktop': '1f5a5',
  'desktop_computer': '1f5a5',
  'computer': '1f4bb',
  'calling': '1f4f2',
  'iphone': '1f4f1',
  'watch': '231a',
  'baby_bottle': '1f37c',
  'beers': '1f37b',
  'beer': '1f37a',
  'tropical_drink': '1f379',
  'cocktail': '1f378',
  'wine_glass': '1f377',
  'sake': '1f376',
  'coffee': '2615',
  'tea': '1f375',
  'fork_and_knife': '1f374',
  'egg': '1f373',
  'stew': '1f372',
  'bento': '1f371',
  'cake': '1f370',
  'honey_pot': '1f36f',
  'custard': '1f36e',
  'lollipop': '1f36d',
  'candy': '1f36c',
  'chocolate_bar': '1f36b',
  'cookie': '1f36a',
  'doughnut': '1f369',
  'ice_cream': '1f368',
  'shaved_ice': '1f367',
  'icecream': '1f366',
  'fish_cake': '1f365',
  'fried_shrimp': '1f364',
  'sushi': '1f363',
  'oden': '1f362',
  'dango': '1f361',
  'fries': '1f35f',
  'bread': '1f35e',
  'spaghetti': '1f35d',
  'ramen': '1f35c',
  'curry': '1f35b',
  'rice': '1f35a',
  'rice_ball': '1f359',
  'rice_cracker': '1f358',
  'poultry_leg': '1f357',
  'meat_on_bone': '1f356',
  'pizza': '1f355',
  'hamburger': '1f354',
  'strawberry': '1f353',
  'cherries': '1f352',
  'peach': '1f351',
  'pear': '1f350',
  'green_apple': '1f34f',
  'apple': '1f34e',
  'pineapple': '1f34d',
  'banana': '1f34c',
  'lemon': '1f34b',
  'tangerine': '1f34a',
  'watermelon': '1f349',
  'melon': '1f348',
  'grapes': '1f347',
  'hot_pepper': '1f336',
  'sweet_potato': '1f360',
  'corn': '1f33d',
  'eggplant': '1f346',
  'tomato': '1f345',
  'roller_coaster': '1f3a2',
  'ferris_wheel': '1f3a1',
  'carousel_horse': '1f3a0',
  'mahjong': '1f004',
  'black_joker': '1f0cf',
  'flower_playing_cards': '1f3b4',
  'video_game': '1f3ae',
  'game_die': '1f3b2',
  'slot_machine': '1f3b0',
  'bowling': '1f3b3',
  '8ball': '1f3b1',
  'dart': '1f3af',
  'art': '1f3a8',
  'tickets': '1f39f',
  'admission_tickets': '1f39f',
  'film_frames': '1f39e',
  'clapper': '1f3ac',
  'circus_tent': '1f3aa',
  'tophat': '1f3a9',
  'ticket': '1f3ab',
  'performing_arts': '1f3ad',
  'microphone': '1f3a4',
  'headphones': '1f3a7',
  'musical_score': '1f3bc',
  'notes': '1f3b6',
  'musical_note': '1f3b5',
  'trumpet': '1f3ba',
  'saxophone': '1f3b7',
  'violin': '1f3bb',
  'guitar': '1f3b8',
  'musical_keyboard': '1f3b9',
  'checkered_flag': '1f3c1',
  'running_shirt_with_sash': '1f3bd',
  'medal': '1f3c5',
  'sports_medal': '1f3c5',
  'trophy': '1f3c6',
  'golf': '26f3',
  'rugby_football': '1f3c9',
  'tennis': '1f3be',
  'baseball': '26be',
  'football': '1f3c8',
  'basketball': '1f3c0',
  'soccer': '26bd',
  'fishing_pole_and_fish': '1f3a3',
  'tent': '26fa',
  'horse_racing': '1f3c7',
  'race_car': '1f3ce',
  'racing_car': '1f3ce',
  'motorcycle': '1f3cd',
  'racing_motorcycle': '1f3cd',
  'mountain_bicyclist': '1f6b5',
  'bicyclist': '1f6b4',
  'snowman': '26c4',
  'ski': '1f3bf',
  'snowboarder': '1f3c2',
  'bath': '1f6c0',
  'surfer': '1f3c4',
  'swimmer': '1f3ca',
  'rowboat': '1f6a3',
  'golfer': '1f3cc',
  'lifter': '1f3cb',
  'weight_lifter': '1f3cb',
  'dancer': '1f483',
  'walking': '1f6b6',
  'runner': '1f3c3',
  'blue_heart': '1f499',
  'green_heart': '1f49a',
  'yellow_heart': '1f49b',
  'purple_heart': '1f49c',
  'heart_decoration': '1f49f',
  'heart_tip': '1f394',
  'heart_with_tip_on_the_left': '1f394',
  'gift_heart': '1f49d',
  'cupid': '1f498',
  'sparkling_heart': '1f496',
  'heartpulse': '1f497',
  'heartbeat': '1f493',
  'revolving_hearts': '1f49e',
  'two_hearts': '1f495',
  'love_letter': '1f48c',
  'broken_heart': '1f494',
  'heart': '2764',
  'bouquet2': '1f395',
  'bouquet_of_flowers': '1f395',
  'ring': '1f48d',
  'izakaya_lantern': '1f3ee',
  'crossed_flags': '1f38c',
  'wind_chime': '1f390',
  'flags': '1f38f',
  'dolls': '1f38e',
  'military_medal': '1f396',
  'reminder_ribbon': '1f397',
  'crown': '1f451',
  'mortar_board': '1f393',
  'boom': '1f4a5',
  'sparkles': '2728',
  'dizzy': '1f4ab',
  'balloon': '1f388',
  'confetti_ball': '1f38a',
  'tada': '1f389',
  'sparkler': '1f387',
  'fireworks': '1f386',
  'rice_scene': '1f391',
  'bamboo': '1f38d',
  'tanabata_tree': '1f38b',
  'christmas_tree': '1f384',
  'jack_o_lantern': '1f383',
  'birthday': '1f382',
  'gift': '1f381',
  'ribbon': '1f380',
  'wind_blowing_face': '1f32c',
  'sun_with_face': '1f31e',
  'last_quarter_moon_with_face': '1f31c',
  'first_quarter_moon_with_face': '1f31b',
  'full_moon_with_face': '1f31d',
  'new_moon_with_face': '1f31a',
  'waning_crescent_moon': '1f318',
  'last_quarter_moon': '1f317',
  'waning_gibbous_moon': '1f316',
  'full_moon': '1f315',
  'waxing_gibbous_moon': '1f314',
  'first_quarter_moon': '1f313',
  'waxing_crescent_moon': '1f312',
  'new_moon': '1f311',
  'earth_asia': '1f30f',
  'earth_americas': '1f30e',
  'earth_africa': '1f30d',
  'globe_with_meridians': '1f310',
  'japan': '1f5fe',
  'mount_fuji': '1f5fb',
  'milky_way': '1f30c',
  'volcano': '1f30b',
  'ocean': '1f30a',
  'rainbow': '1f308',
  'sunrise': '1f305',
  'sunrise_over_mountains': '1f304',
  'stars': '1f320',
  'star': '2b50',
  'star2': '1f31f',
  'snowflake': '2744',
  'dash': '1f4a8',
  'fog': '1f32b',
  'umbrella': '2614',
  'sweat_drops': '1f4a6',
  'droplet': '1f4a7',
  'cloud_tornado': '1f32a',
  'cloud_with_tornado': '1f32a',
  'cloud_lightning': '1f329',
  'cloud_with_lightning': '1f329',
  'cloud_snow': '1f328',
  'cloud_with_snow': '1f328',
  'cloud_rain': '1f327',
  'cloud_with_rain': '1f327',
  'cloud': '2601',
  'partly_sunny': '26c5',
  'sunny': '2600',
  'crescent_moon': '1f319',
  'fire': '1f525',
  'flame': '1f525',
  'zap': '26a1',
  'feet': '1f43e',
  'spider_web': '1f578',
  'spider': '1f577',
  'beetle': '1f41e',
  'bee': '1f41d',
  'ant': '1f41c',
  'bug': '1f41b',
  'snail': '1f40c',
  'shell': '1f41a',
  'blowfish': '1f421',
  'tropical_fish': '1f420',
  'fish': '1f41f',
  'octopus': '1f419',
  'dolphin': '1f42c',
  'whale': '1f433',
  'whale2': '1f40b',
  'frog': '1f438',
  'turtle': '1f422',
  'snake': '1f40d',
  'crocodile': '1f40a',
  'dragon_face': '1f432',
  'dragon': '1f409',
  'monkey': '1f412',
  'speak_no_evil': '1f64a',
  'hear_no_evil': '1f649',
  'see_no_evil': '1f648',
  'monkey_face': '1f435',
  'panda_face': '1f43c',
  'koala': '1f428',
  'bear': '1f43b',
  'wolf': '1f43a',
  'dog': '1f436',
  'poodle': '1f429',
  'dog2': '1f415',
  'pig_nose': '1f43d',
  'pig': '1f437',
  'pig2': '1f416',
  'boar': '1f417',
  'camel': '1f42b',
  'dromedary_camel': '1f42a',
  'elephant': '1f418',
  'penguin': '1f427',
  'bird': '1f426',
  'hatched_chick': '1f425',
  'hatching_chick': '1f423',
  'baby_chick': '1f424',
  'chicken': '1f414',
  'rooster': '1f413',
  'goat': '1f410',
  'sheep': '1f411',
  'ram': '1f40f',
  'horse': '1f434',
  'racehorse': '1f40e',
  'cat': '1f431',
  'cat2': '1f408',
  'rabbit': '1f430',
  'rabbit2': '1f407',
  'chipmunk': '1f43f',
  'tiger': '1f42f',
  'leopard': '1f406',
  'tiger2': '1f405',
  'cow': '1f42e',
  'cow2': '1f404',
  'water_buffalo': '1f403',
  'ox': '1f402',
  'hamster': '1f439',
  'mouse': '1f42d',
  'mouse2': '1f401',
  'rat': '1f400',
  'chestnut': '1f330',
  'mushroom': '1f344',
  'leaves': '1f343',
  'fallen_leaf': '1f342',
  'maple_leaf': '1f341',
  'four_leaf_clover': '1f340',
  'herb': '1f33f',
  'ear_of_rice': '1f33e',
  'bouquet': '1f490',
  'blossom': '1f33c',
  'sunflower': '1f33b',
  'hibiscus': '1f33a',
  'rose': '1f339',
  'cherry_blossom': '1f338',
  'tulip': '1f337',
  'cactus': '1f335',
  'palm_tree': '1f334',
  'deciduous_tree': '1f333',
  'evergreen_tree': '1f332',
  'seedling': '1f331',
  'pray': '1f64f',
  'finger_pointing_down2': '1f59f',
  'sideways_white_down_pointing_index': '1f59f',
  'finger_pointing_up': '1f59e',
  'sideways_white_up_pointing_index': '1f59e',
  'finger_pointing_right': '1f599',
  'sideways_white_right_pointing_index': '1f599',
  'finger_pointing_left': '1f598',
  'sideways_white_left_pointing_index': '1f598',
  'finger_pointing_down': '1f597',
  'white_down_pointing_left_hand_index': '1f597',
  'vulcan': '1f596',
  'raised_hand_with_part_between_middle_and_ring_fingers': '1f596',
  'middle_finger': '1f595',
  'reversed_hand_with_middle_finger_extended': '1f595',
  'hand_victory': '1f594',
  'reversed_victory_hand': '1f594',
  'thumbs_down_reverse': '1f593',
  'reversed_thumbs_down_sign': '1f593',
  'thumbs_up_reverse': '1f592',
  'reversed_thumbs_up_sign': '1f592',
  'hand_splayed_reverse': '1f591',
  'reversed_raised_hand_with_fingers_splayed': '1f591',
  'hand_splayed': '1f590',
  'raised_hand_with_fingers_splayed': '1f590',
  'turned_ok_hand': '1f58f',
  'turned_ok_hand_sign': '1f58f',
  'writing_hand': '1f58e',
  'left_writing_hand': '1f58e',
  'open_hands': '1f450',
  'muscle': '1f4aa',
  'raised_hand': '270b',
  'fist': '270a',
  'punch': '1f44a',
  'v': '270c',
  'ok_hand': '1f44c',
  'point_right': '1f449',
  'point_left': '1f448',
  'point_down': '1f447',
  'point_up_2': '1f446',
  'point_up': '261d',
  'thumbsdown': '1f44e',
  '-1': '1f44e',
  'thumbsup': '1f44d',
  '1': '1f44d',
  'wave': '1f44b',
  'nail_care': '1f485',
  'tongue': '1f445',
  'kiss': '1f48b',
  'lips2': '1f5e2',
  'lips': '1f444',
  'nose': '1f443',
  'eyes': '1f440',
  'eye': '1f441',
  'ear': '1f442',
  'clap': '1f44f',
  'raised_hands': '1f64c',
  'kiss_mm': '1f468-2764-1f48b-1f468',
  'couplekiss_mm': '1f468-2764-1f48b-1f468',
  'kiss_ww': '1f469-2764-1f48b-1f469',
  'couplekiss_ww': '1f469-2764-1f48b-1f469',
  'couplekiss': '1f48f',
  'couple_mm': '1f468-2764-1f468',
  'couple_with_heart_mm': '1f468-2764-1f468',
  'couple_ww': '1f469-2764-1f469',
  'couple_with_heart_ww': '1f469-2764-1f469',
  'couple_with_heart': '1f491',
  'haircut': '1f487',
  'massage': '1f486',
  'person_frowning': '1f64d',
  'person_with_pouting_face': '1f64e',
  'raising_hand': '1f64b',
  'ok_woman': '1f646',
  'no_good': '1f645',
  'information_desk_person': '1f481',
  'bow': '1f647',
  'space_invader': '1f47e',
  'alien': '1f47d',
  'skull': '1f480',
  'skeleton': '1f480',
  'poop': '1f4a9',
  'shit': '1f4a9',
  'hankey': '1f4a9',
  'poo': '1f4a9',
  'japanese_goblin': '1f47a',
  'japanese_ogre': '1f479',
  'ghost': '1f47b',
  'santa': '1f385',
  'angel': '1f47c',
  'guardsman': '1f482',
  'princess': '1f478',
  'construction_worker': '1f477',
  'cop': '1f46e',
  'older_woman': '1f475',
  'grandma': '1f475',
  'older_man': '1f474',
  'man_with_turban': '1f473',
  'man_with_gua_pi_mao': '1f472',
  'person_with_blond_hair': '1f471',
  'bride_with_veil': '1f470',
  'dancers': '1f46f',
  'two_women_holding_hands': '1f46d',
  'two_men_holding_hands': '1f46c',
  'couple': '1f46b',
  'family_mmgg': '1f468-1f468-1f467-1f467',
  'family_mmbb': '1f468-1f468-1f466-1f466',
  'family_mmgb': '1f468-1f468-1f467-1f466',
  'family_mmg': '1f468-1f468-1f467',
  'family_mmb': '1f468-1f468-1f466',
  'family_wwgg': '1f469-1f469-1f467-1f467',
  'family_wwbb': '1f469-1f469-1f466-1f466',
  'family_wwgb': '1f469-1f469-1f467-1f466',
  'family_wwg': '1f469-1f469-1f467',
  'family_wwb': '1f469-1f469-1f466',
  'family_mwgg': '1f468-1f469-1f467-1f467',
  'family_mwbb': '1f468-1f469-1f466-1f466',
  'family_mwgb': '1f468-1f469-1f467-1f466',
  'family_mwg': '1f468-1f469-1f467',
  'family': '1f46a',
  'woman': '1f469',
  'man': '1f468',
  'girl': '1f467',
  'boy': '1f466',
  'baby': '1f476',
  'spy': '1f575',
  'sleuth_or_spy': '1f575',
  'levitate': '1f574',
  'man_in_business_suit_levitating': '1f574',
  'busts_in_silhouette': '1f465',
  'bust_in_silhouette': '1f464',
  'footprints': '1f463',
  'scream_cat': '1f640',
  'crying_cat_face': '1f63f',
  'pouting_cat': '1f63e',
  'kissing_cat': '1f63d',
  'smirk_cat': '1f63c',
  'heart_eyes_cat': '1f63b',
  'smiley_cat': '1f63a',
  'joy_cat': '1f639',
  'smile_cat': '1f638',
  'slight_smile': '1f642',
  'slightly_smiling_face': '1f642',
  'slight_frown': '1f641',
  'slightly_frowning_face': '1f641',
  'mask': '1f637',
  'no_mouth': '1f636',
  'dizzy_face': '1f635',
  'sleeping': '1f634',
  'flushed': '1f633',
  'astonished': '1f632',
  'scream': '1f631',
  'cold_sweat': '1f630',
  'hushed': '1f62f',
  'open_mouth': '1f62e',
  'sob': '1f62d',
  'grimacing': '1f62c',
  'tired_face': '1f62b',
  'sleepy': '1f62a',
  'weary': '1f629',
  'fearful': '1f628',
  'anguished': '1f627',
  'frowning': '1f626',
  'disappointed_relieved': '1f625',
  'triumph': '1f624',
  'persevere': '1f623',
  'cry': '1f622',
  'rage': '1f621',
  'angry': '1f620',
  'worried': '1f61f',
  'disappointed': '1f61e',
  'stuck_out_tongue_closed_eyes': '1f61d',
  'stuck_out_tongue_winking_eye': '1f61c',
  'stuck_out_tongue': '1f61b',
  'kissing_closed_eyes': '1f61a',
  'kissing_smiling_eyes': '1f619',
  'kissing_heart': '1f618',
  'kissing': '1f617',
  'confounded': '1f616',
  'confused': '1f615',
  'pensive': '1f614',
  'sweat': '1f613',
  'unamused': '1f612',
  'expressionless': '1f611',
  'neutral_face': '1f610',
  'smirk': '1f60f',
  'sunglasses': '1f60e',
  'heart_eyes': '1f60d',
  'relieved': '1f60c',
  'yum': '1f60b',
  'relaxed': '263a',
  'blush': '1f60a',
  'wink': '1f609',
  'imp': '1f47f',
  'smiling_imp': '1f608',
  'innocent': '1f607',
  'laughing': '1f606',
  'satisfied': '1f606',
  'sweat_smile': '1f605',
  'smile': '1f604',
  'smiley': '1f603',
  'joy': '1f602',
  'grin': '1f601',
  'grinning': '1f600',
}

for name, code in map
  .emoji-{name}
    background-image url('../node_modules/emojione/assets/svg/'+code+'.svg')
