doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='styles/index.css')
    link(rel='stylesheet', href='styles/emoji.css')
    link(rel='stylesheet', href='node_modules/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='node_modules/github-markdown-css/github-markdown.css')
    link(rel='stylesheet', href='node_modules/highlight.js/styles/github.css')
  body
    script(src='scripts/renderer.js')
    script(src='http://localhost:35729/livereload.js')
