html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

/* UI */
.search-box {
  position: fixed;
  top: 0;
  right: 32px;
  padding: 4px 2px 4px 4px;
  overflow: hidden;
  border: 1px solid #878787;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #DADBDA;
}

.search-box .search {
  display: inline-block;
  float: left;
  position: relative;
  width: 214px;
  height: 20px;
  font-size: 14px;
  border: 1px solid #bdbdbd;
  border-radius: 4px 0 0 4px;
  background-color: #ffffff;
}
.search-box .search input {
  display: inline-block;
  width: 165px;
  padding: 0 45px 0 4px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}
.search-box .search .index {
  position: absolute;
  right: 7px;
  top: 3px;
  color: #c9c9c9;
}

.search-box .search input:focus {
}

.search-box button {
  float: left;
  width: 23px;
  height: 22px;
  padding: 0;
  font-size: 12px !important;
  color: #747474;
  background: none;
  border: none;
}
.search-box button.button-up {
  border-top: 1px solid #c8c9c9;
  border-bottom: 1px solid #c8c9c9;
}
.search-box button.button-down {
  border-top: 1px solid #c8c9c9;
  border-right: 1px solid #c8c9c9;
  border-bottom: 1px solid #c8c9c9;
  border-radius: 0 4px 4px 0;
}
.search-box button.button-close {
  width: 22px;
  height: 22px;
  color: #868686;
  border: none;
  background: none;
}


/* markdown */

.markdown-body {
  padding: 0 50px;
  margin: 50px 0;
}
li>p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.markdown-body li.checked,
.markdown-body li.unchecked {
  list-style-type: none;
  position: relative;
}
.markdown-body li.checked:before,
.markdown-body li.unchecked:before {
  font-family: FontAwesome;
  position: absolute;
  left: -1.3em;
}
.markdown-body li.checked:before {
  content: "\f046";
}
.markdown-body li.unchecked:before {
  content: "\f096";
}

/* heading icon */

.markdown-body .icon {
  font: normal normal normal 16px/1 octicons-anchor;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown-body .icon-link:before {
  content: '\f05c';
}

.markdown-body h1 .icon-link,
.markdown-body h2 .icon-link,
.markdown-body h3 .icon-link,
.markdown-body h4 .icon-link,
.markdown-body h5 .icon-link,
.markdown-body h6 .icon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}

.markdown-body h1:hover .anchor .icon-link,
.markdown-body h2:hover .anchor .icon-link,
.markdown-body h3:hover .anchor .icon-link,
.markdown-body h4:hover .anchor .icon-link,
.markdown-body h5:hover .anchor .icon-link,
.markdown-body h6:hover .anchor .icon-link {
  display: inline-block;
}
