body {
  margin: 0;
  padding: 0;
}
.markdown-body {
  padding: 0 50px;
  margin: 50px 0;
}
li>p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.markdown-body li.checked,
.markdown-body li.unchecked {
  list-style-type: none;
  position: relative;
}
.markdown-body li.checked:before,
.markdown-body li.unchecked:before {
  font-family: FontAwesome;
  position: absolute;
  left: -1.3em;
}
.markdown-body li.checked:before {
  content: "\f046";
}
.markdown-body li.unchecked:before {
  content: "\f096";
}

/* heading icon */

.markdown-body .icon {
  font: normal normal normal 16px/1 octicons-anchor;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown-body .icon-link:before {
  content: '\f05c';
}

.markdown-body h1 .icon-link,
.markdown-body h2 .icon-link,
.markdown-body h3 .icon-link,
.markdown-body h4 .icon-link,
.markdown-body h5 .icon-link,
.markdown-body h6 .icon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}

.markdown-body h1:hover .anchor .icon-link,
.markdown-body h2:hover .anchor .icon-link,
.markdown-body h3:hover .anchor .icon-link,
.markdown-body h4:hover .anchor .icon-link,
.markdown-body h5:hover .anchor .icon-link,
.markdown-body h6:hover .anchor .icon-link {
  display: inline-block;
}
